@import "../../../mixin.scss";

.button {
  @include flex;
  gap: 14px;
  width: 211px;
  height: 54px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: var(font-size-p);
  font-weight: var(--font-weight-semi-bold);
  color: var(--bg-color);
  background: var(--primary-color);
  .icon {
    svg {
      fill: var(--bg-color);
    }
  }
}
.buttonTr {
  @extend .button;
  @include flex(row, flex-start);
  background: transparent;
  color: var(--text-color);
  .icon {
    svg {
      fill: var(--text-color);
    }
  }
}
