@import "../../scssModules/mixin.scss";

.projects {
  width: 100%;
  height: 1080px;
  background: var(--bg-color);
  $circle-size: 1068px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding: 110px 0;
  &::after {
    content: "";
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    background: rgba($color: #fff, $alpha: 0.01);
    position: absolute;
    top: -30%;
    right: -25%;
    z-index: -1;
  }
  &::before {
    content: "";
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    background: rgba($color: #fff, $alpha: 0.01);
    position: absolute;
    bottom: -40%;
    left: -15%;
    z-index: -1;
  }
  .container {
    padding: 0 20px;
    h2 {
      @include flex(column);
      font-size: var(--font-size-header-1);
      margin: 60px 0;
      &::after {
        content: "";
        width: 65px;
        height: 5px;
        background: var(--primary-color);
      }
    }
    .sliderBox {
      max-width: 1440px;
      margin: auto;
      overflow: hidden;
      .slider {
        @include flex(row, flex-start);
        @include transition(1s, 0, ease-in-out);
        column-gap: 100px;
        width: auto;
      }
    }
    .sliderBtn {
      @include flex;
      gap: 10px;
      width: 100%;
      height: 130px;
      & > li {
        $size: 15px;
        width: $size;
        height: $size;
        border: 3px solid var(--primary-color);
        border-radius: 50%;
      }
      .active {
        background: var(--primary-color);
        border-color: var(--primary-color);
        box-shadow: 0 0 20px var(--primary-color);
      }
    }
  }
}
