@import "../../scssModules/mixin.scss";
.contact {
  width: 100%;
  height: auto;
  background: var(--bg-color-dark);
  .container {
    @include flex;
    width: 90%;
    max-width: 1436px;
    height: 685px;
    margin: 213px auto;
    border-radius: 33px;
    overflow: hidden;
    .leftSection {
      padding: 90px 140px;
      position: relative;
      background: var(--bg-color-text);
      flex-basis: 45%;
      height: 100%;
      &::before {
        content: "";
        width: 50%;
        height: 3px;
        background: var(--text-color);
        position: absolute;
        right: 0;
        top: 18%;
      }
      &::after {
        content: "";
        width: 50%;
        height: 3px;
        background: var(--text-color);
        position: absolute;
        left: 0;
        bottom: 17%;
      }
      h4 {
        font-size: var(--font-size-header-4);
        font-weight: var(--font-weight-semi-bold);
        margin: 6px;
      }
      .contactTitleBox {
        @include flex(column, space-between, flex-start);
        row-gap: 56px;
        margin-top: 80px;
      }
    }
    .rightSection {
      background: var(--bg-color);
      flex-basis: 55%;
      height: 100%;
      padding: 50px 0;
      form {
        width: 80%;
        height: 100%;
        display: grid;
        grid-template: repeat(4, 1fr) / 35% 45%;
        column-gap: 55px;
        margin: auto;

        & > div {
          grid-column-start: 1;
          grid-column-end: end;

          label {
            display: block;
            color: var(--text-color-gray);
            font-size: var(--font-size-p-small);
            font-weight: var(--font-weight-medium);
            margin-bottom: 3px;
          }
          input,
          textarea {
            width: 100%;
            height: 100%;
            background: var(--bg-input-color);
            color: var(--text-color);
            font-size: var(--font-size-p-small);
            font-weight: var(--font-weight-medium);
            border: none;
            resize: none;
            border-radius: 8px;
            height: 46px;
            padding: 20px;
          }
          button {
            @include flex(row, space-between);
            width: 211px;
            height: 54px;
            padding: 0 60px;
            border-radius: 10px;
            border: none;
            outline: none;
            color: var(--bg-color);
            background: var(--primary-color);
            font-size: var(--font-size-p);
            font-weight: var(--font-weight-semi-bold);
            cursor: pointer;
          }
        }
        .inputName {
          grid-area: 1 / 1 / 1 / 1;
        }
        .inputEmail {
          grid-area: 1 / 2 / 2 / end;
        }
        .inputMessage {
          grid-area: 3 / 1 / 4 / end;
          align-self: stretch;
          textarea {
            height: 100%;
          }
        }
        .inputSubmit {
          grid-area: end / 2 / end / end;
          justify-self: end;
          align-self: start;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .contact {
    .container {
      @include flex(column);
      height: 1200px;
      .leftSection {
        padding: 40px 75px;
        min-width: 100%;
        border-radius: 33px 33px 0 0;
        h4 {
          text-align: center;
        }
      }
      .rightSection {
        border-radius: 0 0 33px 33px;
        min-width: 100%;
        form {
          column-gap: 25px;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .contact {
    .container {
      .leftSection {
        min-width: 100%;
      }
      .rightSection {
        min-height: 700px;
        min-width: 100%;
        form {
          grid-template: repeat(5, 1fr) / 1fr;
          .inputName {
            grid-area: 1 / 1 / 1 / end;
          }
          .inputEmail {
            grid-area: 2 / 1 / 2 / end;
          }
          .inputSubject {
            grid-area: 3 / 1 / 4 / end;
          }
          .inputMessage {
            grid-area: 4 / 1 / 5 / end;
          }
          .inputSubmit {
            grid-area: end / 1 / end / end;
          }
        }
      }
    }
  }
}
