@import "../../scssModules/mixin.scss";
.aboutMe {
  width: 100%;
  height: auto;
  color: var(--text-color);
  .sectionOne {
    height: auto;
    padding: 120px 0;
    position: relative;
    overflow: hidden;
    .bgIcons {
      .bgText {
        font-size: var(--font-size-bg);
        font-weight: var(--font-weight-bold);
        color: var(--bg-color-text);
        position: absolute;
        top: 0;
        right: -180px;
        z-index: -1;
      }
      .bgIcon {
        position: absolute;
        bottom: -40px;
        left: 0;
        z-index: -1;
      }
    }
    .container {
      max-width: 920px;
      margin: auto;
      text-align: center;
      article {
        margin: 0 30px;
        h2 {
          @include flex(column);
          font-size: var(--font-size-header-1);
          margin-bottom: 60px;
          &::after {
            content: "";
            width: 65px;
            height: 5px;
            background: var(--primary-color);
          }
        }
        p {
          font-size: var(--font-size-p-medium);
          color: var(--text-color-gray);
          margin-bottom: 40px;
          span {
            color: var(--primary-color);
          }
        }
      }
    }
  }
  .sectionTow {
    height: auto;
    padding: 84px 0;
    width: 100%;
    background: var(--bg-color-light);
    .container {
      max-width: 920px;
      height: 100%;
      margin: auto;
      text-align: center;
      h3 {
        font-size: var(--font-size-header-3);
        font-weight: var(--font-weight-bold);
        margin-bottom: 30px;
      }
      .serviceSection {
        display: grid;
        grid-template: 1fr 1fr / 2fr 1fr;
        flex-wrap: wrap;
        height: 350px;
        margin: auto;
      }
    }
  }
  .sectionThree {
    height: auto;
    padding: 62px 0;
    position: relative;
    overflow: hidden;
    .bgIcons {
      .bgText {
        font-size: var(--font-size-bg);
        font-weight: var(--font-weight-bold);
        color: var(--bg-color-text);
        position: absolute;
        bottom: 0;
        left: -60px;
        z-index: -1;
      }
      .bgIcon {
        @include flex;
        position: absolute;
        top: -15px;
        right: 52px;
        z-index: -1;
      }
    }
    .container {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      column-gap: 120px;
      max-width: 980px;
      margin: auto;
      padding: 0 30px;
      padding-top: 95px;

      h4 {
        font-size: var(--font-size-header-3);
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .aboutMe {
    .sectionTow {
      .container {
        overflow: hidden;

        h3 {
          margin-bottom: 80px;
        }
        .serviceSection {
          max-width: 60%;
          grid-template: repeat(4, 1fr) / 1fr;
          row-gap: 80px;
          padding-top: 40px;
          justify-items: center;
          margin-bottom: 200px;
        }
      }
    }
    .sectionThree {
      .container {
        grid-template: 1fr / 1fr;
        justify-items: center;
        & > div {
          margin-bottom: 80px;
        }
      }
    }
  }
}

@media only screen and (max-width: 417px) {
  .aboutMe {
    .sectionTow {
      .container {
        .serviceSection {
          margin-left: 20px;
        }
      }
    }
  }
}
