@import "../../scssModules/mixin.scss";
.aboutMe {
  width: 100%;
  height: auto;
  color: var(--text-color);
  .sectionOne {
    height: 745px;
    position: relative;
    overflow: hidden;
    .bgIcons {
      .bgText {
        font-size: var(--font-size-bg);
        font-weight: var(--font-weight-bold);
        color: var(--bg-color-text);
        position: absolute;
        top: 0;
        right: -180px;
        z-index: -1;
      }
      .bgIcon {
        position: absolute;
        bottom: -40px;
        left: 0;
        z-index: -1;
      }
    }
    .container {
      max-width: 985px;
      margin: auto;
      text-align: center;
      article {
        margin: 0 30px;
        margin-top: 146px;
        h2 {
          @include flex(column);
          font-size: var(--font-size-header-1);
          margin-bottom: 60px;
          &::after {
            content: "";
            width: 65px;
            height: 5px;
            background: var(--primary-color);
          }
        }
        p {
          font-size: var(--font-size-p-large);
          color: var(--text-color-gray);
          margin-bottom: 40px;
          span {
            color: var(--primary-color);
          }
        }
      }
    }
  }
  .sectionTow {
    height: 617px;
    width: 100%;
    background: var(--bg-color-light);
    padding-top: 84px;
    .container {
      max-width: 1190px;
      height: 100%;
      margin: auto;
      text-align: center;
      h3 {
        font-size: var(--font-size-header-3);
        font-weight: var(--font-weight-bold);
        margin-bottom: 30px;
      }
      .serviceSection {
        display: grid;
        grid-template: 1fr 1fr / 2fr 1fr;
        flex-wrap: wrap;
        height: 350px;
        margin: auto;
      }
    }
  }
  .sectionThree {
    height: 906px;
    position: relative;
    overflow: hidden;
    .bgIcons {
      .bgText {
        font-size: var(--font-size-bg);
        font-weight: var(--font-weight-bold);
        color: var(--bg-color-text);
        position: absolute;
        bottom: 0;
        left: -60px;
        z-index: -1;
      }
      .bgIcon {
        @include flex;
        position: absolute;
        top: -15px;
        right: 52px;
        z-index: -1;
      }
    }
    .container {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      column-gap: 450px;
      max-width: 1190px;
      margin: auto;
      padding-top: 95px;
      h4 {
        font-size: var(--font-size-header-3);
      }
    }
  }
}
