@import "../../scssModules/mixin.scss";
nav {
  @include flex;
  @include transition(0.25s, 0.25s);
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 99;

  .navList {
    @include flex;
    gap: 75px;
    & > li {
      @include transition;
      position: relative;
      font-size: var(--font-size-p);
      font-weight: var(--font-weight-medium);
      &::before {
        @include transition(0.25s, 0.25s);
        content: "";
        opacity: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: -7px;
        background: var(--primary-color);
      }
    }
    .active {
      color: var(--primary-color);
      &::before {
        opacity: 100%;
      }
    }
  }
  .navCircles {
    @include flex(column);
    gap: 7px;
    position: absolute;
    right: 0;
    top: 50vh;
    transform: translateY(-50%);
    margin: 10px;
    & > li {
      @include flex;
      @include transition;
      $size: 15px;
      width: $size;
      height: $size;
      border-radius: 50%;
      border: 2px solid var(--text-color);
      a {
        width: 100%;
        height: 100%;
      }
    }
    .active {
      background: var(--primary-color);
      border-color: var(--primary-color);
      box-shadow: 0 0 20px var(--primary-color);
    }
  }
}
.navBg {
  background: var(--bg-color-light);
  box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.15);
}

@media only screen and (max-width: 970px) {
  nav {
    .navList {
      gap: 30px;
    }
  }
}
