@import "../../scssModules/mixin.scss";
nav {
  @include flex;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  z-index: 1;

  .navList {
    @include flex;
    gap: 75px;
    color: var(--text-color);
    & > li {
      font-size: var(--font-size-p);
      font-weight: var(--font-weight-medium);
    }
    .active {
      color: var(--primary-color);
      position: relative;
      &::before {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: -7px;
        background: var(--primary-color);
      }
    }
  }
  .navCircles {
    @include flex(column);
    gap: 7px;
    position: absolute;
    right: 0;
    top: 50vh;
    transform: translateY(-50%);
    margin: 10px;
    & > li {
      @include flex;
      $size: 15px;
      width: $size;
      height: $size;
      border-radius: 50%;
      border: 2px solid var(--text-color);
      a {
        width: 100%;
        height: 100%;
      }
    }
    .active {
      background: var(--primary-color);
      border-color: var(--primary-color);
      box-shadow: 0 0 20px var(--primary-color);
    }
  }
}

@media only screen and (max-width: 970px) {
  nav {
    height: 100px;
    .navList {
      gap: 45px;
    }
  }
}
