// get Poppins font cdn from Google font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

//css variables
:root {
  //colors
  --primary-color: #30c0e0;
  --bg-color: #202020;
  --bg-color-light: #3f3f3f;
  --bg-color-text: #272727;
  --text-color: #fff;
  --text-color-gray: #e2e2e2;
  //font-sizes
  --font-size-bg: 12.5rem;
  --font-size-header-large: 3.125rem;
  --font-size-header: 2.375rem;
  --font-size-p-large: 1.875rem;
  --font-size-p-medium: 1.5rem;
  --font-p-size: 1.25rem;
  --font-size-p-small: 1.125rem;
  --font-size-p-x-small: 0.875rem;
  //font-weight
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
}

//css reset

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
html {
  scroll-behavior: smooth;
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color-light);
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    list-style: none;
  }
  image {
    width: 100%;
    height: auto;
  }
}
