@import "../../../scssModules/mixin.scss";

.card {
  // @include flex(column, center, flex-start);
  min-width: 412px;
  height: 501px;
  border-radius: 18px;
  background: var(--bg-color-text);
  overflow: hidden;
  .thumbnail {
    height: 60%;
    width: 100%;
    background: var(--bg-color-light);
    img {
      // display: none;
      width: 100%;
      height: 100%;
      border-radius: 18px 18px 0px 0px;
    }
  }
  .info {
    height: 40%;
    @include flex(column, space-between, flex-start);
    flex-basis: 100%;
    padding: 25px;
    min-width: 100%;
    h4 {
      font-size: var(--font-size-p-small);
      font-weight: var(--font-weight-bold);
    }
    p {
      @include flex(row, flex-start);
      gap: 7px;

      svg {
        $size: 28px;
        fill: var(--primary-color);
        width: $size;
        height: $size;
      }
    }
    .links {
      @include flex(row, space-between);
      font-size: var(--font-size-p-small);
      font-weight: var(--font-weight-semi-bold);
      width: 100%;
      .viewCode {
        @include flex(row, flex-start);
        gap: 10px;
        svg {
          fill: var(--text-color);
        }
      }
      .livePreview {
        @include flex;
        width: 170px;
        height: 42px;
        border-radius: 10px;
        background: var(--primary-color);
        color: var(--bg-color);
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .card {
    // min-width: 380px;
    height: 440px;
    .info {
      link {
        font-size: var(--font-size-p-x-small);
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .card {
    min-width: 350px;
    height: 420px;
  }
}
