//css variables
:root {
  //colors
  --primary-color: #30c0e0;
  --bg-color-dark: #161616;
  --bg-color: #202020;
  --bg-color-light: #3f3f3f;
  --bg-color-text: #272727;
  --bg-input-color: #343434;
  --text-color: #f1f1f1;
  --text-color-gray: #8f8f8f;

  //font-sizes
  --font-size-bg: 200px;
  --font-size-header-1: 40px;
  --font-size-header-2: 35px;
  --font-size-header-3: 35px;
  --font-size-header-4: 32px;
  --font-size-p-large: 24px;
  --font-size-p-medium: 22px;
  --font-size-p: 14px;
  --font-size-p-small: 12px;
  --font-size-p-x-small: 10px;
  //font-weight
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
}

//media query css variables
@media only screen and (max-width: 1400px) {
  :root {
    --font-size-bg: 200px;
    --font-size-header-1: 40px;
    --font-size-header-2: 38px;
    --font-size-header-3: 24px;
    --font-size-p-large: 22px;
    --font-size-p-medium: 20px;
    --font-size-p: 18px;
    --font-size-p-small: 16px;
    --font-size-p-x-small: 12px;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    //media font-sizes
    --font-size-bg: 150px;
    --font-size-header-1: 30px;
    --font-size-header-2: 28px;
    --font-size-header-3: 20px;
    --font-size-p-large: 25px;
    --font-size-p-medium: 18px;
    --font-size-p: 14px;
    --font-size-p-small: 14px;
    --font-size-p-x-small: 12px;
  }
}

@media only screen and (max-width: 512px) {
  :root {
    //media font-sizes
    --font-size-bg: 120px;
    --font-size-header-1: 28px;
    --font-size-header-2: 24px;
    --font-size-header-3: 18px;
    --font-size-p-large: 20px;
    --font-size-p-medium: 14px;
    --font-size-p: 10px;
    --font-size-p-small: 8px;
    --font-size-p-x-small: 6px;
  }
}
